@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-flow: row wrap;
  padding: 32px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.main__title {
  color: #3F3F3F;
  text-align: center;
  font-size: 28px;
}

.main__select {
  width: fit-content;
  height: 32px;
  padding: 8px 16px;
  font-size: 12px;
  color: #B4B4B4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 332px;
  height: 440px;
  padding: 24px;
  box-shadow: 0px 20px 30px 0px #0000000a;
}

.form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 68px;
  padding-bottom: 16px;
}

.form__label {
  position: relative;
  margin-bottom: 4px;
  font-size: 10px;
  color: #49485E;
}

.form__label::after {
  content: 'â—';
  position: absolute;
  top: -4px;
  color: #FF8484;
}

.form__input {
  display: block;
  width: 284px;
  height: 36px;
  margin-bottom: 4px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form__input:hover {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.form__input::placeholder {
  font-size: 12px;
  color: #B4B4B4;
}

.form__label-textarea {
  margin-bottom: 4px;
  font-size: 10px;
  color: #49485E;
}

.form__textarea {
  width: 284px;
  height: 108px;
  margin-bottom: 16px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form__textarea:hover {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.form__textarea::placeholder {
  font-size: 12px;
  color: #B4B4B4;
}

.input-name-error,
.input-link-error,
.input-price-error {
  position: absolute;
  bottom: 4px;
  font-size: 8px;
  color: #FF8484;
}

.input-name_red,
.input-link_red,
.input-price_red {
  border: 1px solid #FF8484;
}

.button {
  width: 284px;
  height: 36px;
  margin-top: 8px;
  background: #eee;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 12px;
  color: #B4B4B4;
}

.button_enabled {
  background: #7BAE73;
  color: #FFFFFF;
}

.button_enabled:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .main {
    flex-flow: column nowrap;
    align-items: center;
  }
  .main__header {
    flex-direction: column;
    align-items: center;
  }
  .form {
    width: 100%;
  }
  .form > * {
    width: 100%;
  }
  .form > * > * {
    width: 100%;
  }
}
