* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 1px solid red;
    font-family: 'Source Sans Pro';
}

.main {
    display: flex;
    flex-flow: row wrap;
    padding: 32px;

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px 0;
    }

    &__title {
        color: #3F3F3F;
        text-align: center;
        font-size: 28px;
    }

    &__select {
        width: fit-content;
        height: 32px;
        padding: 8px 16px;
        
        font-size: 12px;
        color: #B4B4B4;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 4px;
    }
} 

.form {
    display: flex;
    flex-direction: column;
    max-width: 332px;
    height: 440px;
    padding: 24px;
    box-shadow: 0px 20px 30px 0px #0000000a;
    
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 68px;
        padding-bottom: 16px;
    }

    &__label {
        position: relative;
        margin-bottom: 4px;
        
        font-size: 10px;
        color: #49485E;

        &::after {
            content: 'â—';
            position: absolute;
            top: -4px;

            color: #FF8484;
        }
    }

    &__input {
        display: block;
        width: 284px;
        height: 36px;
        margin-bottom: 4px;
        padding: 10px 16px;

        border: none;
        border-radius: 4px;
        outline: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        
        &:hover {
            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
        }

        &::placeholder {
            font-size: 12px;
            color: #B4B4B4;
        }
    }

    &__label-textarea {
        margin-bottom: 4px;

        font-size: 10px;
        color: #49485E;
    }

    &__textarea {
        width: 284px;
        height: 108px;
        margin-bottom: 16px;
        padding: 10px 16px;

        border: none;
        border-radius: 4px;
        outline: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        &:hover {
            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
        }

        &::placeholder {
            font-size: 12px;
            color: #B4B4B4;
        }
    }
    
}
    .input-name-error,
    .input-link-error,
    .input-price-error {
        position: absolute;
        bottom: 4px;

        font-size: 8px;
        color: #FF8484;
    }  

    .input-name_red,
    .input-link_red,
    .input-price_red {
        border: 1px solid #FF8484;
    }

.button {
    width: 284px;
    height: 36px;
    margin-top: 8px;

    background: #eee;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 12px;
    color: #B4B4B4;


    &_enabled {
        background: #7BAE73;
        color: #FFFFFF;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: calc(100% - 332px);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 332px;
    height: 420px;
    margin: 0 8px 16px 8px;

    border-radius: 4px;
    color: #3F3F3F;
    box-shadow: 0px 20px 30px 0px #0000000a;
    transition: 0.3s;
    
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        
    }

    &:hover .card__delete {
        display: block;
    }



    &__delete {
        position: absolute;
        display: none;
        right: -4%;
        top: -4%;

        &:hover {
            animation: shaking ease-in-out 1s infinite;
        }

        @keyframes shaking {
            0%, 50% {
                transform: rotate(0deg);
            }
            10%, 30% {
                transform: rotate(-10deg);
            }
            20%, 40% {
                transform: rotate(10deg);
            }
            
        }

    }

    &__image {
        width: 100%;
        height: 200px;
    }

    &__name {
        padding: 16px;
        font-size: 20px;
        font-weight: 600;
    }

    &__description {
        padding: 16px;
        padding-top: 0;
        font-weight: 400;
    }

    &__price {
        padding: 16px;
        padding-bottom: 24px;
        font-size: 24px;
        font-weight: 600;
    }
}


@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/sourcesanspro.woff') format('woff');
  }

@media screen and (max-width: 768px) {

    .main {
        flex-flow: column nowrap;
        align-items: center;

        &__header {
            flex-direction: column;
            align-items: center;
        }
    }
    
    .form {
        width: 100%;
        & > * {
            width: 100%;
            & > * {
                width: 100%;
            }
        }
    }

    .cards {
        width: 100%;
        padding-top: 16px;
    }
}

